footer{
    margin-top:12rem;
}
.footer {
  background-color: var(--forth-color);
  padding: 0 2rem;
  left: 0;
  bottom: 0;
  width: 100%;
  position:fixed;
}
.container-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.producer {
  text-align: left;
  opacity: 30%;
}
