footer{
    margin-top:12rem;
}
.footer {
  background-color: var(--forth-color);
  padding: 0 2rem;
  left: 0;
  bottom: 0;
  width: 100%;
}
.container-footer {
  display:flex;
  justify-content: space-between;
}
.producer {
  text-align: left;
  opacity: 30%;
}
.socialmedia{
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
  text-align: center;
}
.col-left{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}