<section>
  <div class="container-non-b container-sec">
    <h2>فیلد های در آمدزایی</h2>
    <div class="cards">
      <div class="card">
        <div><h4 class="card-h">سرویس دوچرخه</h4></div>
        <hr />
        <div>
          <p class="card-p">انجام سرویس های دوچرخه در محل دریافت دوچرخه</p>
        </div>
      </div>
      <div class="card">
        <div><h4 class="card-h">اجاره دادن دوچرخه</h4></div>
        <hr />
        <div><p class="card-p">اجاره ساعتی یا روزانه دوچرخه خود</p></div>
      </div>
      <div class="card">
        <div><h4 class="card-h">اجاره دادن مکان نگه داری</h4></div>
        <hr />
        <div><p class="card-p">اجاره مکان های قابل جمع آوری دوچرخه ها</p></div>
      </div>
    </div>
  </div>
</section>
