<div class="container-slide">
  <div class="slide fade">
    <img src="../../../assets/images/slider-images/1.jpg" alt="image1" />
    <p class="text">با دوچرخه به مقصد برسید و از مسیر لذت ببرید!</p>
  </div>
  <div class="slide fade">
    <img src="../../../assets/images/slider-images/2.jpg" alt="image2" />
    <p class="text">با دوچرخه به مقصد برسید و از مسیر لذت ببرید!</p>
  </div>
  <div class="slide fade">
    <img src="../../../assets/images/slider-images/3.jpg" alt="image3" />
    <p class="text">با دوچرخه به مقصد برسید و از مسیر لذت ببرید!</p>
  </div>
  <a  class="prev">&#10094;</a>
  <a  class="next">&#10095;</a>
</div>
