/* hover styles are in the end of code */
nav {
  display:flex;
  justify-content: space-between;
  background-color: var(--nav-color);
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.nav-left{
    display: flex;
    padding-left: 2rem;
}
.nav-logo {
  width: 77px;
  height: 59px;
}
a {
  color: var(--a-color);
}
.nav-right {
  display: flex;
  direction: rtl;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
}
.nav-item-non-b {
  padding-right: 0.8rem;
}
a:hover {
  color: var(--a-white-hover);
}
