<section>
  <div class="container-non-b container-sec2">
    <div class="card-left">
      <img
        class="img-card"
        src="../../assets/images/card-images/support-bycicle.png"
        alt=""
      />
    </div>
    <div class="card-right">
      <p>
        با اهدا کردن دوچرخه از ما شارژ اصفهان کارت و دریافت نهال برای درخت کاری
        دریافت کنید و به ترویج دوچرخه سواری کمک کنید
      </p>
      <button (click)="modalService.open('modal-1')" class="btn">
        همبستگی
      </button>
    </div>
    <jw-modal id="modal-1">
      <div class="btn-group">
        <button class="btn-popup btn-danger" (click)="modalService.close()">
          بستن
        </button>
        <button
          class="btn-popup btn-success"
          routerLink="/submit-help"
          routerLinkActive="active"
          (click)="modalService.close()"
          >ثبت
        </button>
      </div>
    </jw-modal>
  </div>
</section>
<router-outlet></router-outlet>
