/* You can add global styles to this file, and also import other style files */
:root {
  /* main colors */
  --main-color: #572eff;
  --second-color: #2a40e8;
  --third-color: #2ab7e8;
  --forth-color: #3b90ff;
  --btn-color:#2EFFF2;
  --nav-color: rgba(42, 64, 232, 0.399);
  --a-color: #ffffff7c;
  --a-white-hover: #fff;
  --white-color: #fff;
  --danger-btn:rgb(206, 34, 34);
  --btn-success:rgb(0, 255, 34);
  --error-message:rgb(154, 0, 0);
  --input-focus:#438bd2;
  /* main colors */
}
/* font */
@font-face {
  font-family: iran-sans;
  src: url(./assets/fonts/ttf/IRANSansWeb.ttf);
}
/* root */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "iran-sans";
  background-color: var(--main-color);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.slick-slider {
  width: 90%;
  margin: auto;
}
.container-non-b {
  max-width: 1200px;
  margin: auto;
  padding: 0;
}
p,h1,h2,h3,h5,h4{
  direction: rtl;
  color: var(--white-color);
}
.btn{
  background-color: var(--third-color);
  font-size: 1.2rem;
  transition: 0.4s;
  border: none;
  padding: 0.3rem 0.7rem;
  box-shadow: 1px 2px 5px var(--third-color);
  border-radius: 0.5rem;
  color: var(--a-color);
}
.btn:hover{
  opacity: 0.6;
}