jw-modal {
  /* modals are hidden by default */
  display: none;
}
.jw-modal {
  /* modal container fixed across whole screen */
  position: fixed;
  inset: 0;

  /* z-index must be higher than everything else on the page */
  z-index: 10000;

  /* semi-transparent black background exposed by padding */
  background-color: rgba(0, 0, 0, 0.75);
padding-top: 150px;
  /* enables scrolling for tall modals */
  overflow: auto;
}

.jw-modal-body {
  display: flex;
  flex-direction: column;
justify-content: space-around;
  max-width:760px ;
  background: #fff;
  height: 100%;
  width: 100%;
  margin: auto;
}
.form{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.form input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
