<div class="container-non-b">
  <form action="">
    <label for="">نام</label>
    <input [formControl]="name" type="text" />
    <label  for="">نام خانوادگی</label>
    <input [formControl]="lastName" type="text" />
    <label for="">شماره تلفن</label>
    <input [formControl]="phoneNumber" type="number" name="" id="" />
    <label for="">کد ملی</label>
    <input [formControl]="identifyCode"  type="number" name="" id="" />
    <label for="">عکس کارت ملی</label>
    <input type="file" name="" id="" />
    <button class="btn" type="submit">ثبت اطلاعات</button>
  </form>
</div>
