<section>
    <div class="container">
        <div class="plan">
            <div class="step"> <span class="logo-num">1</span><span class="logo"><img class="logo-img" src="../../assets/images/logo/map.png" alt=""></span></div>
            <div class="step"> <span class="logo-num">2</span><span class="logo"><img class="logo-img" src="../../assets/images/logo/card.png" alt=""></span></div>
            <div class="step"> <span class="logo-num">3</span><span class="logo"><img class="logo-img" src="../../assets/images/logo/bycicle.png" alt=""></span></div>
            <div class="step"> <span class="logo-num">4</span><span class="logo"><img class="logo-img" src="../../assets/images/logo/enjoy.png" alt=""></span></div>
        </div>
    </div>
</section>