section {
  padding: 3rem;
}

.plan {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(4,1fr);
}
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.logo-img {
  width: 4rem;
  height: 4rem;
}
.logo-num {
  color: var(--white-color);
  text-align: center;
  width: 3.2rem;
  height: 3.2rem;
  display: inline-block;
  font-size: 1.5rem;
  background-color: var(--forth-color);
  border-radius: 50%;
  padding: 0.8rem;
}
@media only screen and (max-width: 500px) {
  .plan {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(2,1fr);
  }
}
